@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{  
    --body-background-color: #b1ced8;
    --green-section-color: #399c7e;
    --black-letters-color: #4e4141;
    --button-background-color: #33af8e;
    --input-background-color: #f1f1f1;
    --input-height: 47px;

}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* Selectores de etiqueta */
body{
    background-color: var(--body-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main{
    /* width: 886px; */
    width: 709px;
    height: 471px;
    border: 2px solid red;
    display: flex;
}

p{
    font-size: 11px;
    opacity: 0.4;
    word-spacing: 1px;
    font-family: "Roboto", sans-serif;
}
h1{
    font-size: 24px;
    font-weight: 500;
    padding: 12px 0;
}

/* Selectores de clase */

/* Sección verde */

.left-section{
    background-color: var(--green-section-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 110px 50px;
    width: calc(338px - (50px * 2));
    height: calc(100% - (110px * 2)); 

}

.left-section img{
    width: 80%;
    height: 80%;
}

.left-section h1{
    margin: 0;
    text-align: center;
}



/* Sección blanca */

.right-section{
    background-color: white;
    color: var(--black-letters-color);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 91px 103px 38px 81px;
    width: calc(371px - 103px - 81px);
    height: calc(100% - 91px - 38px); 
}

